@use '../../assets/variables' as v;

.card {
    background: v.$green;
    width: 27%;
    height: 420px;
    border-radius: 10px;
    box-shadow: v.$shadow;
    will-change: transform;

    @media (max-width : 1024px) {
        width: 100%;
    }

    &:hover {
        transition: transform 0.3s;
        transform: scale(1.05);
    }

    &:hover .card__picture--image {
        transition: opacity 0.3s;
        opacity: 0.5;
    }

    &:hover .card__picture--description {
        visibility: visible;
    }

    &:hover a {
        animation: heartBeat 1s;
    }

    &__picture {
        padding: 10px;
        position: relative;

        &--image {
            height: 300px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        &--description {
            visibility: hidden;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            opacity: 1;
            font-size: v.$size24;
            font-weight: bold;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        & ul {
            display: flex;
            gap: 10px;
            margin-top: 10px;

            & li {
                color: v.$beige;
                background: v.$text-color;
                padding: 5px 10px;
                border-radius: 500px;
                font-size: v.$size16;
            }
        }

        &--link {
            display: flex;
            flex-direction: column;
            text-align: end;
            gap: 5px;
            color: v.$text-color;

            & a:hover {
                opacity: 0.7;
            }
        }
    }
}