@use '../../assets/variables' as v;

.projects {
    margin: 0 v.$margin50;

    @media (max-width : 768px) {
            margin: 0 v.$margin20;
        }

    &__title {
        color: v.$beige;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
        justify-content: center;
        margin: v.$margin50 0;

        @media (max-width : 1200px) {
            gap: 50px;
        }

        @media (max-width : 1024px) {
            flex-direction: column;
        }

        @media (max-width : 768px) {
            margin: v.$margin50 0;
        }
    }
}