@use '../../assets/variables' as v;

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0 v.$margin20;

    @media (max-width : 768px) {
            margin: 0;
        }

    & .logo {
        width: 150px;

        @media (max-width : 768px) {
            width : 100px;
        }
    }

    & .navBar {
        display: flex;
            gap: 20px;
    }
}