@use '../../assets/variables' as v;

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0 v.$margin20;

    & .logo {
        width: 150px;

        @media (max-width : 768px) {
            width: 80px;
        }
    }

    & .navBar {
        display: flex;
        gap: 20px;
        align-items: center;

        &__theme {
            cursor: pointer;
        }
    }
}