@use '../../assets/variables' as v;
@use '../../assets/mixins' as m;

.aboutMe {
    justify-content: space-between;
    gap: 40px;
    @include m.sectionStyle(v.$green);

    @media (max-width: 1350px) {
        flex-direction: column;
    }

    &__pic {
        height: 450px;
        width: 372px;
        aspect-ratio: 16/9;
        object-fit: cover;

        @media (max-width: 768px) {
            height: 360px;
            width: 300px;
        }
    }

    &__text {
        text-align: left;
        line-height: 1.6;
        width: 100%;

        & h1 {
            margin-bottom: v.$margin20;
        }

        & p {
            margin-bottom: v.$margin20;
        }

        & span {
            font-weight: bold;
        }
    }
}