@use '../../assets/variables' as v;

.fieldInput,
.fieldTextarea {
    display: flex;
    flex-direction: column;

    & label {
        @media (max-width: 767px) {
            font-size: v.$size16;
        }
    }
}

.fieldInput input {
    height: 30px;
    width: 300px;

    @media (max-width : 1024px) {
        width: 350px;
    }

    @media (max-width : 768px) {
        width: 250px;
    }
}

.fieldTextarea textarea {
    width: 350px;
    padding: 0 5px;

    @media (max-width : 768px) {
        width: 250px;
    }
}