@use '../../assets/variables' as v;

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: v.$beige ;
    margin:0 v.$margin20;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }

    & .linkRS {
        font-size: v.$size36;
        display: flex;
        gap: 10px;
    }

    & .rocketAnimation {
        height: 150px;
        cursor: pointer;
    }
}